/*body
-------------------------------------------------*/

body {
	font-family: mainFont, Lucida Sans Unicode, Lucida Grande, sans-serif;
	background-color: #b8c2c0;
	width: 100%;
}

body * {
	box-sizing: border-box;
}

/*Header
-------------------------------------------------*/

header{
	width: 800px;
	margin: 100px auto 0 auto;
}

h1{
	font-size: 3em;
	font-family: Canter;
}

#name {
	margin: 20px 20px;
	text-align: center;
	color: #ce11a2;
	font-size: 2.75em;
}

#thinks {
	font-family: thinkFont;
}

/*nav
-------------------------------------------------*/

/*content
-------------------------------------------------*/
#content {
	/* see scrollable */
}

#container {
	height: 300px;
	margin: 100px auto;
}

#thinks p {
	margin: 50% 0;
}

.dot {
	display: block;
	box-sizing: content-box;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background-color: #A80F34;
	border-color: #e7d613;
	border: 9px solid;
	margin: 30px auto;
	-webkit-transform: scale(1);
	-webkit-transition: all 0.2s ease-in-out 0.2s;
}
.dot:hover {
	-webkit-transform: scale(1.5);
	-webkit-transition: all 0.2s ease-in-out 0.2s;
}

#arrow {
	height: 0px;
	width: 0px;
	border-left: 30px solid #f1fa10;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: relative;
	top: 30px;
	left: 40px;
}

/*footer
-------------------------------------------------*/
footer{

}
footer p {
	font-size: .8em;
	text-align: center;
	padding: 10px 0;
}
/*text and links
-------------------------------------------------*/
@font-face {
	font-family: mainFont;
	src: url("../content/Existence-Light-webfont.ttf") , url("../content/Existence-Light-webfont.eot");
}

@font-face {
	font-family: nameFont;
	src: url("../content/daniel-webfont.ttf") ,url("../content/daniel-webfont.eot"); /* IE */
}

@font-face {
	font-family: googFont;
	src: url("../content/catull-webfont.ttf");
}

@font-face {
	font-family: Canter;
	src: url("../fonts/canterBold.otf");
}

#test {
	font-family: googFont;
}

p {
	color: #4d360f;
	font-size: 1.5em;
}

p.sub {
	font-size: 1.3em;
	color: #A80F34;
	position: relative;
	left: 45px;
}

h3 {
	font-size: 6.5em;
	color: #EBD4C4;
	font-family: nameFont;
}

a {
	font-size: 2.5em;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #3F3321;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-style: dotted;
	border-width: 2px;
	border-color: #5dc0cd;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	padding: 3%;
	margin: 5%;
	color: red;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
}

#box button {
	margin: 25%;
}

/*objects
-----------------------------------------------------------*/

object {
	position: absolute;
	z-index: 1;
}

/*flex box fun
-----------------------------------------------------------*/

.card-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #aaaaaa;
	width: 900px;
	margin: 0 auto;
}

.card {
	background-color: #A80F34;
	color: #222222;
	width: 200px;
	padding: 1%;
}

.bogus {
	min-height: 20em;
}